@import "normalize.scss";
body{
  font-size: 1em;
  font-family: sans;color: whitesmoke;
  background-color: rebeccapurple;}
h1{font-size: 2em;}
h1, h2{margin:0 auto;
  text-align: center;
  letter-spacing: 0.17em;
  text-shadow:3px 3px 3px black;
  }
div.block{background-color: #3b0d6a;
  width:86%;
  margin: 0.62em auto;
  padding: 0.62em 1em 0.24em 1.4em;
  border-radius: 3.8em 6.2em 0 2.4em;}
code {background-color:rgba(0,0,0,0.38);
  padding: 0 0.24em;user-select: none;}
@media only screen and (min-width: 36em) {
  body{font-size: 1.06em;}
  div.block{padding-left: 2em}
  .lead{font-size: 1.24em;}
}
@media only screen and (min-width: 60em) {
  div.block{width:62%;}
  h1{font-size: 3em;}
  footer.main-footer{width:62%}

}
a{text-decoration:none; transition: all 0.38s;
  color: #e3be3f;}
a:hover{text-decoration:none;color: #ffe792;}
footer.main-footer{
  line-height: 1.4;
  margin: 1em auto 0;
  border-radius: 0.6em;
  width:88%;
  padding:0.62em 1em 0;
  background: #1c146d;}
.flx{display:flex; align-items: center;
  justify-content: space-around;}
