html{box-sizing: border-box;}
body{font-size: 16px;line-height: 1.33; font-size: 1em;
font-family: sans;color: whitesmoke;
background-color: rebeccapurple;}
h1{font-size: 2em;
text-align: center;
letter-spacing: 0.17em;
margin: 0.4em auto;}
div.block{background-color: #3b0d6a;
width:86%;
margin: 1em auto;
padding: 0.6em 1em 0.24em 1.4em;
border-radius: 3.8em 6.2em 0 3.8em;}
code {background-color:rgba(0,0,0,0.38);
padding: 0 0.24em; font-size:1.24em;
}
@media only screen and (min-width: 36em) {
  body{font-size: 1.06em;}
  div.block{padding-left: 2em}
  .lead{font-size: 1.24em;}
  }
  @media only screen and (min-width: 60em) {
  div.block{width:62%;}
  h1{font-size: 3em;}
}
a{text-decoration:none; transition: all 0.38s;
  color: #e3be3f;}
a:hover{text-decoration:none;color: #ffe792;}
footer.main-footer{
  line-height: 1.4;
  margin: 1em auto;
  border-radius: 0.6em;
  width:62%;
  padding:1em;
  background: #1c146d;}
.flx{display:flex; align-items: center;
  justify-content: space-around;}
