<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="block">
      <h1><%= htmlWebpackPlugin.options.title %></h1>
      <h2><%= htmlWebpackPlugin.options.subtitle %></h2>
      <p class="lead">Hi there. This foundation for a
        modern front-end webapp, built in webpack, transpiles the latest JavaScript with babel
        and compiles styles from SASS.
        <p> Other than that, it's agnostic, adding no frameworks or
          libraries. Production and development modes are enabled, and environment
          variables can be set dynamically.
        <p>Check your browser's console to read a welcome message, check mode,
          and inspect a deliberate bug to test source mapping.
          <p style="font-size:0.93em;text-align:right;">
            Inspired by <a href="https://www.robinwieruch.de/">Robin Wieruch</a>'s node.js tutorials <a href="https://www.robinwieruch.de/minimal-node-js-babel-setup/">
              [1]</a>
    </div>
      <div class="block">
        <h2>How to use</h2><p>
          To recreate this site, use <a href="https://github.com/KorvinM/modernjs/tree/frontend">this branch</a> of the project.
        <br><code>npm start</code> to run in dev mode.
        <br><code>npm run build</code> for a production build into a build/ folder, with a main.css stylesheet.
        <br><code>npm run build:int-css</code> for a production build with css injected into the head

        <p>Webkit analytics tools are included:
          <br><code>npm run build:analyze</code> generates a <a href="report.html">report</a> and a
         <a href="stats.html">statistics visualisation</a> of the build.


    </div>
    <footer class="main-footer flx">
      <div style="">A project by <a href="http://korvin.org">Korvin M Media</a></div>
      <div style=""><a href="https://github.com/KorvinM/modernjs">Source code on Github</a></div>
    </footer>

  </body>
</html>
